/******************************************************/
/* Text-size */
/******************************************************/
/* Document level adjustments */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;
    }
}

/* Medium devices (tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    html {
        font-size: 14px;
    }
}

/* Large devices (laptops/desktops, 900px and up) */
@media only screen and (min-width: 901px) {
    html {
        font-size: 16px;
    }
}

/* Modules will scale with document */
header {
    font-size: 1.25rem;
}

footer {
    font-size: 1.1rem;
}

/* Type will scale with modules */
h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}

p {
    font-size: 1em;
}

body {
    margin: 3rem auto;
    width: 75%;
}

h1,
h2,
h3,
p,
li {
    font-family: 'Latin Modern Roman', 'Arial', 'Sans-Serif';
    line-height: 1.3em;
}

/******************************************************/
/* Header */
/******************************************************/
header {
    display: grid;
    border-bottom: 1px solid #d5d5d5;
}

header ul {
    float: right;
}

header ul,
footer ul {
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: .7rem 0px
}

header ul li {
    display: inline;
    margin-left: 1.4rem;
}

.page-title {
    float: left;
    color: #1e7f9e;
    margin-top: 0px;
}

header a {
    text-decoration: none;
    color: #999;
}

/******************************************************/
/* Footer */
/******************************************************/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: 1.1em;
}

footer h2 {
    margin: 1rem 0px 0px 0px
}

footer ul li {
    display: inline;
    margin-right: 1.4rem;
}

/******************************************************/
/* Misc */
/******************************************************/
a {
    text-decoration: none;
    color: #1e7f9e;
}

a:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    min-height: 80%;
}

.container ul {
    padding-inline-start: 2rem
}

.center {
    text-align: center
}