body {
    margin: 60px auto;
    width: 75%;
}
html *
{
   font-family:'Latin Modern Roman', 'Arial', 'Sans-Serif';
   line-height: 1.3em;
}
header ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 10px 0px
}
header ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #1e7f9e;
}
header a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

.page-title{
float:left;
color: #1e7f9e;
margin-top: 0px;
}

.container{
width: 100%;
min-height: 80%;
}

/*
h1 {
    font-size: 2em;
}
p{
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
*/

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center{
    text-align:center
}
