body {
    margin: 60px auto;
    width: 70%;
}
html *
{
   font-family:'Latin Modern Roman', 'Arial', 'Sans-Serif';
   line-height: 1.3em;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: #1e7f9e;
}
.header-bar a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

#my-image{
  width: 29%;
  float: right;
  padding-top: 1em;
  position: relative;
  right: 3em;
}

.header-bar{
display: grid;
border-bottom: 1px solid #d5d5d5;
}

.page-title{
float:left;
color: #1e7f9e;
margin-top: 0px;
}

.container{
width: 100%;
min-height: 80%;
}

.home-container{
width: 60%;
min-height: 80%;
}
.main-body{
 min-height: 20em;
}

/*
h1 {
    font-size: 2em;
}
p{
    font-size: 1.1em;
    line-height: 1.4em;
    color: #333;
}
*/
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
